.portfolio-manager-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;

    .left-colunm {
        background-color: $offwhite;
    }

    .right-colunm {
        background-color: $charcoal;
    }
}